$font: 'Courier New', Courier, monospace;

// Colors
$white: #fff;
$black: #000;
$darkGrey: #393B3D;
$text: #69E986;
$offWhite: #f2f4f5;

// Animations
@keyframes list-hover {
    from { opacity: 1; }
    to { opacity: 0.5; }
}

body {
    font-family: "Arial";
    background-color: $darkGrey;
    font-size: 16px;
    color: $offWhite;
}

a {
    text-decoration: none;
}

.header {
    background-color: $darkGrey;
    height: 80px;
    top: 0px;
    left: 0px;
    width: 100%;
    position: absolute;
    z-index: 100;

    .inner-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;

        .logo {
            font-weight: 700;
            font-size: 1.25rem;
            a {
                color: $offWhite;
            }

            margin-left: 75px;
        }

        .links {
            nav {
                a {
                    color: $offWhite;
                    letter-spacing: 1.7px;
                    font-family: "Arial";

                    span.numbering {
                        margin-right: 8px;
                    }

                    margin: 0px 20px;
                    &:last-child {
                        margin-right: 75px;
                    }
                }
            }
        }
    }
}

span.numbering {
    color: $text;
    font-family: $font;
}

main {
    position: relative;
    background-color: $darkGrey;
    width: 100%;
}

section.banner {
    max-width: 1000px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 75vh;
    margin: 0px auto;
    padding: 75px 0px;

    .inner-banner {
        .banner-title {
            color: $text;
            font-size: 3rem;
            font-family: $font;
        }

        .keypoint {
            font-size: 7rem;
        }

        .content {
            margin-top: 45px;
            font-size: 1.3rem;
            width: 85%;
        }

        .button-container {
            .button {
                width: 150px;
                height: 55px;
                border-radius: 5px;
                border: 1px solid $text;
                margin: 0 auto;
                margin-top: 50px;
                opacity: 1;
    
                a {
                    p {
                        text-align: center;
                        //vertical-align: middle;
                        font-size: 1.1rem;
                    }
                    color: $offWhite;
                }
            }
        }

        .fade {
            opacity: 0.7;
        }
    }
}

.error {
    max-width: 1000px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 75vh;
    margin: 0px auto;
    padding: 75px 0px;

    .error-title {
        color: $text;
        font-size: 3rem;
        font-family: $font;
    }

    .keypoint {
        font-size: 7rem;
    }

    .content {
        margin-top: 45px;
        font-size: 1.3rem;
        width: 85%;
        opacity: 0.7;
    }
}

.footer {
    position:absolute;
    z-index: 99;
    left: 0px;
    width: 100%;
    margin-bottom: 30px;
    .inner-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 75px;
        margin-right: 75px;

        .copyright {
            a {
                color: $offWhite;
            }
            font-size: 1rem;
            opacity: 0.5;
            font-family: $font;
        }

    }
}

.nofade {
    color: $offWhite;
}

.somefade {
    color: $offWhite;
    opacity: 0.6;
}

section.pageContent {
    max-width: 1000px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 75vh;
    margin: 0px auto;
    padding: 75px 0px;
    .inner-content {
        .title {
            font-size: 2.5rem;
            span.numbering {
                font-family: $font;
                font-size: 2.0rem;
                color: $text;
                margin-right: 16px;
            }
        }

        .content {
            font-size: 1.2rem;
            width: 85%;
        }
    }
}

section.list-content {
    max-width: 1000px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 75vh;
    margin: 0px auto;
    padding: 75px 0px;

    .inner-list {
        .title {
            font-size: 2.5rem;
            span.numbering {
                font-family: $font;
                font-size: 2.0rem;
                color: $text;
                margin-right: 16px;
            }
        }

        .intro {
            font-size: 1.2rem;
            width: 85%;
        }

        .list {
            width: 85%;

            .list-element {
                padding-top: 100px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .experienceName {
                    width: 50%;
                    font-size: 1.25rem;
                }

                .experienceContent {
                    width: 50%;

                    .detail-title {
                        font-size: 1.25rem;
                        .company {
                            color: $text;
                            font-family: $text;
    
                            a {
                                color: $text;
                            }
                        }
                    }

                    .detail-date {
                        font-size: 0.9rem;
                        font-family: $font;
                        opacity: 0.7;
    
                        .hyphon {
                            margin-right: 5px;
                            margin-left: 5px;
                        }
                    }
    
                    ul {
                        padding-left: 10px;
                        list-style: square;
    
                        li {
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }
    }
}

.active {
    background-color: red;
}

